.player-controller {
  width: 100%;

  .player-controller__big-play-button {
    border-radius: 100px;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    color: var(--orange);
    margin-top: -25px;
    margin-left: -37px;
    outline: none;
    text-align: center;
    box-shadow: 0px 0.5px 1px black;

    span {
      position: relative;
      top: 10px;
      font-size: 30px;
    }
  }

  .player-controller__big-play-button:hover, .player-controller__play-button:hover {
    color: var(--dark-orange);
  }

  .controller {
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0px;
    background-color: white;
    
    .player-controller__play-button, .player-controller__prev-button, .player-controller__next-button {
      position: absolute;
      display: inline-block;
    }

    .player-controller__play-button, .player-controller__prev-button, .player-controller__next-button {
      top: 50%;
      left: 10px;
      outline: none;
      margin-top: -18px;
      margin-left: 30px;
      width: 15px;
      height: 15px;
    }

    .player-controller__play-button {
      box-shadow: 0px 0.5px 2px var(--silver-light);
      color: var(--orange);
      border-radius: 100px;
      font-size: 15px;
    }

    .player-controller__prev-button {
      margin-left: -10px;
    }

    .player-controller__next-button {
      margin-left: 70px;
    }

    .player-controller__duration {
      color: var(--silver-light);
      right: 10px;
      top: 50%;
      margin-top: -8px;
      font-size: 15px;
      user-select: none;
      position: absolute;
    }

    .player-controller__duration:hover {
      cursor: default;
    }

    .player-controller__input-range {
      width: 100%;
      height: 20px;
      position: absolute;
      left: 0%;
      top: -2px;
      margin-top: -10px;

      input {
        -webkit-appearance: none;
        appearance: none;
        width: 100%;
        outline: none;
        height: 4px;
        background-color: transparent;
      }

      input::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 15px;
        height: 15px;
        border-radius: 100px;
        background-color: var(--orange);
        border: 3px solid white;
        outline: none;
        margin-top: -3px;
        box-shadow: 0px 0.5px 2px var(--silver-light);
      }

      input::-webkit-slider-thumb:hover {
        cursor: pointer;
        background-color: var(--dark-orange);
      }

      .player-controller__input-range__progress-bar {
        width: 100%;
        outline: none;
        height: 4px;
        margin-top: 10px;
        position: absolute;
        background-color: #E0E0E0;
        z-index: -1;
      }

      .player-controller__input-range__progress-bar::-webkit-progress-bar {
        -webkit-appearance: none;
        appearance: none;
        background-color: #E0E0E0;
      }

      .player-controller__input-range__progress-bar::-webkit-progress-value {
        -webkit-appearance: none;
        appearance: none;
        background-color: var(--orange);
      }
    }
  }
}