.main-window-container {
  width: 100vw;
  height: 100vh;
  color: white;
  overflow: hidden;

  #video {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: -1;
    object-fit: fill;
  }

  .main-window{
    width: 100%;
    height: 100%;

    .main-window__header {
      position: relative;
      color: white;
      white-space: pre;

      .main-window__transparent-block {
        background-color: black;
        width: 100%;
        height: 1%;
        box-shadow: 0px 1px 100px 20px black;
        position: absolute;
        z-index: -1;
      }

      .main-window__title {
        margin: 5px;
        font-size: 15px;
        text-align: center;
        white-space: pre;
      }
      
      .main-window__file-open-button {
        box-shadow: 0px 0.5px 2px var(--silver-light);
        display: inline-block;
        border-radius: 100px;
        font-size: 15px;
        width: 18px;
        color: var(--orange);
        height: 18px;
        margin: 5px;
        outline: none;
      }

      .main-window__file-open-button:hover {
        color: var(--dark-orange);
      }
    }
  }

  .main-window-hide {
    filter: opacity(0);
    animation: fadeOut 0.8s;
  }

  video::-webkit-media-text-track-container {
    position: absolute;
    bottom: 25px;
  }

  video::cue {
    background-color: transparent;
    text-shadow: 0px 1px 5px black;
    font-weight: 600;
  }

  .video-sub-up::-webkit-media-text-track-container {
    position: absolute;
    bottom: 55px;
  }

  .main-window-show {
    filter: opacity(1);
    animation: fadeIn 0.5s;
  }
}

@keyframes fadeOut {
  0% {filter: opacity(1);}
  100% {filter: opacity(0);}
}

@keyframes fadeIn {
  0% {filter: opacity(0);}
  100% {filter: opacity(1);}
}